@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{font-family: 'GmarketSansMedium';}
.cover{padding: 2%; background: rgba(0, 0, 0, 0.7); height: 100vh; padding: 2%; box-sizing: border-box;}
.section-wrap{max-width: 1600px; margin: 0 auto;}
.title{font-size: 40px; font-weight: bold; margin: 20px 0;}
.section {background-attachment: fixed !important; overflow: hidden;}

.section1{background-image: url(https://i.postimg.cc/MKF5jjxQ/bullet-gb353cd8f4-1920.jpg); background-size: cover; background-position: center; height: 100vh;}
.section1::before{ content: ''; display: inline-block; vertical-align: middle; height: 100%;}
.section1 .main-txt{width: 500px; margin: 0 auto; padding-top: 300px;}
.section1 .main-text ul li{font-size: 40px;}
.section1 .main-text{display: none; color: #fff;}
.typing{display: flex; justify-content: center; text-align: center;}
.typing ul li{
  display:block;
  color: #fff;
  font: 5em 'SEBANG_Gothic_Bold';
  text-shadow: 2px 2px 20px gray;
}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.5s;
  animation-iteration-count: infinite; 
} 
.typing ul li:nth-child(2){
  color: #009fe8;
  text-shadow: -6px 5px 4px powderblue;
}
.blue{
  color: #009fe8;
}
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 2px solid #fff} 
}

.section3{background:url(https://i.postimg.cc/63CdPQgH/map-of-the-world-g1b4090527-1920.jpg); background-size: cover; background-position: center; height: 100vh; box-sizing: border-box;}
.section3 .title{display: none;}
.section3 .map{display: flex; padding: 80px 0; justify-content: center; align-items: center; gap: 20px;}
/* .section3 .map .content-map{flex-basis: 50%;} */
.section3 .map .content-map-txt{text-align: left; padding: 50px; border-radius: 5px; background-color: #000; color: #fff;}
.section3 .map .content-map-txt .content-map-title{width: 200px; margin: 0 auto;}
.section3 .map .content-map-txt .content-map-title img{width: 100%;}
.section3 .map .content-map-txt .content-map-subtxt{padding-top: 50px;}
.section3 .map .content-map-txt .content-map-subtxt ul li{margin-bottom: 20px; cursor: pointer;}
.section3 .map .content-map-txt .quick-link{width: 150px; height: 50px; margin: 0 auto; border-radius: 30px; text-align: center; line-height: 50px; background-color: #fff;}
.section3 .map .content-map-txt .quick-link:hover{background-color: #009fe8; transition: 0.2s}
.section3 .map .content-map-txt .quick-link:hover a{color: #fff;}
.section3 .footer{background-color: #000; color: #fff; padding: 2%; display: flex; justify-content: center; max-width: 1100px; margin: 0 auto; border-radius: 15px; gap: 20px;}
.section3 .footer .footer-inner{display: flex; gap: 20px;}
.section3 .footer ul{padding: 0;}

.section4{background: url(../img/section4.png); display: flex; justify-content: center;}
.section4 .cover{padding: 0 5%; display: flex; justify-content: center; align-items: center;}
.section4 .cover .title{display: none;}
.section4 .cover .cover-wrap{width: 100%;}
.section4 .section4-box{display: flex; justify-content: center; align-items: center; width: 100%; height: 50%; gap: 20px; padding: 2%;}
.section4 .section4-title{color: #fff; font-size: 40px; font-weight: bold; text-shadow: 2px 4px 2px gray; flex-basis: 40%; transition: 0.2s;}
.section4 .section4-title ul li:nth-child(1){margin-bottom: 10px;}

.section4 .section4-content{background-color: #eee; padding: 2%; border-radius: 10px; box-shadow: 5px 5px 15px 5px gray; text-align: center; flex-basis: 40%; box-sizing: border-box;}
.section4 ul{text-align: left; padding-left: 0; word-break: break-all;}
.section4 .section4-content ul li:last-child{margin-top: 10px; text-align: center;}
.section4 .section4-content ul li:last-child strong{position: relative; text-shadow: 2px 2px 2px gray; font: 17px 'ONE-Mobile-Title';}
/* .section4 .section4-content ul li:last-child strong::after{position: absolute; content: ""; width: 100%; height: 2px; background-color: #000; bottom: -5px; left: 50%; transform: translateX(-50%); display: none;} */
.section4 .section4-content input{border-radius: 10px; box-shadow: 1px 1px 5px 1px gray; cursor: pointer;}
.section4 .section4-content input:hover{background-color: #009fe8; color: #fff;}
.section4 .content-img{position: fixed; max-width: 1200px; display: none; top: 50%; transform: translate(-50%, -50%); padding: 0 2%; left: 50%; z-index: 99;}
.section4 .content-img.on{display: block;}
.section4 .content-img .content-img-wrap{width: 100%; background: #000; font-size: 0;}
.section4 .content-img .content-img-wrap img{width: 100%;}
.section4 .content-img .close{position: absolute; top: -35px; color: #fff; right: 2%; font-size: 25px; cursor: pointer; text-shadow: 2px 4px 2px #009fe8;}