.header{border-bottom: 1px solid #ddd; position: fixed; top: 0; left: 0;z-index: 999; display: none;}
.header-wrap{max-width: 1200px; margin: 0 auto; display: flex; justify-content: center; align-items: center;}
.logo{width: 150px;}

.main{width: 200px; position: fixed; left: 2%; top: 80px; display: flex; flex-wrap: wrap; height: 100vh; z-index: 999 !important;}
.main ul{line-height: 45px; padding: 0;}
.main ul li a{font-size: 25px; position: relative;}
.main ul li a::after{position: absolute; content: ""; width: 0%; height: 2px; background-color: rgb(31, 121, 206); bottom: -5px; left: 50%; transform: translateX(-50%);}
.main ul li a:hover{color: rgb(31, 121, 206); transition: 0.2s;}
.main ul li a:hover::after{width: 100%; transition: 0.2s;}

.mouse{width: 70px; position: fixed; bottom: 50px; left: 50%; transform: translateX(-50%); z-index: 99; animation: scroll 1.5s infinite;}
@keyframes scroll {
    from {
        bottom: 50px;
    }
    to {
        bottom: 40px;
    }
}
.mouse img{width: 100%;}